th , td {
    text-align: center;
}

.table {
    font-size: 11px;
  }
  table th {
    text-align: center;
}
table tr th{
    background:#19948a;
    color:white;
    vertical-align:center;
}

@media (max-width: 768px) {
    table th:nth-child(n+4),
    table td:nth-child(n+4),
    table th:nth-child(n+5),
    table td:nth-child(n+5),
    table th:nth-child(n+6),
    table td:nth-child(n+6) {
      display: none;
    }
  }