<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex justify-content-center py-4">
 
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Login</h5>
                            <p class="text-center ">ACACYPAC - Portal Capacitaciones</p>
                        </div>
                        <form class="row g-3 needs-validation"
                                autocomplete="off"
                                [formGroup]="loginForm" 
                                (ngSubmit)="login()"
                                id="loginForm"
                                novalidate>
                            <div class="col-12">
                                <label for="dui" class="form-label">DUI</label>
                                <div class="form-group has-validation">
                                    <input type="text" name="username" formControlName="dui" class="form-control" id="dui" >
                                    <div class="invalid-feedback">Ingresa tu número de documento</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="clave" class="form-label">Clave</label>
                                <div class="form-group has-validation">
                                    <input type="password" name="clave" formControlName="clave" class="form-control" id="clave" >
                                    <div class="invalid-feedback">Ingresa la clave!</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-success w-100" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="credits">
                    Designed by <a href="#">Equipo TI</a> {{ year }}
                </div>
            </div>
            </div>
        </div>
        </section>
    </div>
</main>

