<div class="mainDiv">
    <div class="cardStyle form">
        <form [formGroup]="formConfiguracion" action="" method="post" name="signupForm" id="signupForm">
        
            <img src="" id="signupLogo"/>
            
            <h2 class="formTitle">
                Configuracion
            </h2>
            
            <div class="inputDiv">
                <label class="form-label">Menú</label>
                <select  class="form-select" id="agencia" formControlName="agencia" >
                    <option value="0" disabled selected>Selecciona</option>
                    <option value="1">Documentación</option>
                    <option value="2">Evaluaciones</option>
                    <option value="3">Colaboradores</option>
                </select>
            </div>
                
            <div class="inputDiv mt-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="cargo" name="tipo" formControlName="cargo" value="1" [(ngModel)]="selectedOption">
                    <label class="form-check-label" for="cargo">Cargo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="colaborador" name="tipo" formControlName="colaborador" value="2" [(ngModel)]="selectedOption">
                    <label class="form-check-label" for="colaborador">Colaborador</label>
                </div>
            </div>

            <div class="inputDiv mt-2">
                <label class="form-label mt-2">Cargos</label>
                <select [(ngModel)]='ngSelectD' class="form-select" id="cargoSelect" formControlName="cargoSelect" required>
                    <option value="0" disabled selected>Selecciona</option>
                    <option *ngFor="let e of listaCargos" [value]="e.id">
                        {{ e.nombre }}
                    </option>
                </select>
                <div class="alert alert-danger mt-2" [hidden]="cargoSelect.valid || cargoSelect.pristine">
                    Debes seleccionar una opción
                </div>
            </div>
            <div class="inputDiv mt-2">
                <label class="form-label mt-2">Colaborador</label>
                <select [(ngModel)]='ngSelectC' class="form-select" id="colaboradorSelect" formControlName="colaboradorSelect" required>
                    <option value="0" disabled selected>Selecciona</option>
                    <option *ngFor="let e of listaColaborador" [value]="e.id">
                        {{ e.nombres }} {{ e.apellidos }}
                    </option>
                </select>
                <div class="alert alert-danger mt-2" [hidden]="colaboradorSelect.valid || colaboradorSelect.pristine">
                    Debes seleccionar una opción
                </div>
            </div>
            
            <div class="buttonWrapper d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-primary" id="submitButton" (click)="guardar();" [disabled]="!formConfiguracion.valid">
                    Guardar Cambios...
                </button>
            </div>
        
        </form>
    </div>
</div>