<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h5 class="card-title">Listado de evaluaciones</h5>
                    </div>
                    <div class="col-3 mt-2 d-flex flex-row justify-content-end p-2">
                        <button type="button" class="btn btn-primary" routerLink="/dashboard/evaluacion">
                            <i class="bi bi-plus-lg"></i>Agregar evaluación
                        </button>
                    </div>
                </div>
                <app-dtevaluaciones></app-dtevaluaciones>
            </div>
        </div>
    </div>
</div>
