<div class="modal fade" id="ExtralargeModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preguntas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">              
                <form [formGroup]="formPregunta" class="row g-3">
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Pregunta</label>
                                <input type="text" formControlName="pregunta" class="form-control" placeholder="Ingresa la pregunta">
                                <div class="alert alert-danger mt-2" [hidden]="pregunta.valid || pregunta.pristine">
                                    La pregunta es a
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="form-label">Respuesta</label>
                                <input type="text" formControlName="respuesta" class="form-control" placeholder="Ingresa los respuesta">
                                <div class="alert alert-danger mt-2" [hidden]="respuesta.valid || respuesta.pristine">
                                    La respuesta es obligatoria
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <button type="submit" class="btn btn-primary" form="formColaborador" [disabled]="formPregunta.invalid">
                                    Guardar
                                </button>
                            </div>
                        </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div> -->
            <app-datatable></app-datatable>
        </div>
    </div>
</div>
<!-- End Extra Large Modal-->
