.table {
    font-size: 11px;
  }
  table th {
    text-align: center;
}
table tr th{
    background:#19948a;
    color:white;
    vertical-align:center;
}

/*****************************
/* Esto es definir los estilos CSS para un elemento de botón. Establece el relleno, el tamaño de la
  fuente, la transformación del texto, el espaciado entre letras, el grosor de la fuente, el color,
  el color de fondo, el borde, el radio del borde, la sombra del cuadro, la transición, el cursor y
  las propiedades del contorno del botón. También define los estilos para cuando se pasa el cursor
  sobre el botón o se hace clic en él, incluido el cambio del color de fondo, la sombra del cuadro,
  el color y la posición. */
  button {
    padding: 1.3em 3em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #b9cbd1;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #1fa7d9;
    box-shadow: 0px 15px 20px rgba(38, 156, 186, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .cancelar:hover {
    background-color: #3b3d3d;
    box-shadow: 0px 15px 20px rgba(123, 125, 124, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }