<div class="row">
    <div class="col-lg-6">
        <div id="card-container"></div>
    </div>
    <div class="col-lg-6">
        <div class="card mt-4">
            <div class="card-body">
                <div class="col-md-12">
                    <h5 class="mt-4" style="text-align: center;">Editar preguntas</h5>
                    <form  class="row g-3 ">
                        <label for="pregunta" class="form-label">Pregunta</label>
                        <input type="text" id="id" class="form-control" hidden>
                        <input type="text" id="pregunta" class="form-control">
                        <button type="button" class="btn btn-success" (click)="editar()">Actualizar</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>
</div>