<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-body ">
                <h5 class="card-title text-center">Evaluación</h5>
                <div class="form" id="myForm">
                    <div class="row">
                        <div #container class="container">
                            <div class="card cardStyle m-4" *ngFor="let pregunta of listadoPreguntas; let i = index;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ pregunta.valorPregunta }}</h5>
                                    <ng-container
                                        *ngIf="pregunta.tipoPregunta_id == 1 || pregunta.tipoPregunta_id == 2; else checkboxSection">
                                        <div class="radio" *ngFor="let respuesta of pregunta.valorRespuestas">
                                            <label>
                                                <input
                                                    type="{{ pregunta.tipoPregunta_id === 1 ? 'radio' : pregunta.tipoPregunta_id === 2 ? 'radio' : 'checkbox'}}"
                                                    name="{{ pregunta.valorPregunta }}"
                                                    [value]="pregunta.respuesta_id[pregunta.valorRespuestas.indexOf(respuesta)]"
                                                >
                                                {{ respuesta }}
                                            </label>
                                        </div>
                                    </ng-container>
                                    <ng-template #checkboxSection>
                                        <div *ngFor="let respuesta of pregunta.valorRespuestas">
                                            <label>
                                                <input 
                                                    type="checkbox" 
                                                    name="{{ pregunta.valorPregunta }}"
                                                    [value]="pregunta.respuesta_id[pregunta.valorRespuestas.indexOf(respuesta)]"
                                                >
                                                {{ respuesta }}
                                            </label>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success" (click)="guardarRespuestas()" *ngIf="listadoPreguntas">Guardar Quiz</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

