<div class="container">
    <form [formGroup]="formUser">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nueva Contraseña</label>
          <input type="password" class="form-control"id="password" name="password" formControlName="clave" required >
          <div class="alert alert-danger mt-2" [hidden]="clave.valid || clave.pristine">
            Debes ingresar la nueva clave
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirmar Contraseña</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
        </div>
        <button type="button" class="btn btn-primary" id="submitButton" (click)="guardar();" [disabled]="!formUser.valid">
            Guardar Cambios...
        </button>
    </form>
</div>