
<div class="container">
    <!-- Bordered Tabs -->
    <ul class="nav nav-tabs " id="borderedTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pregunta-tab" data-bs-toggle="tab" data-bs-target="#bordered-pregunta" type="button" role="tab" aria-controls="pregunta" aria-selected="true">Preguntas</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="grupo" aria-selected="false">Grupos</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="requisito" aria-selected="false">Requisitos</button>
      </li>
    </ul>
    <div class="tab-content pt-2" id="borderedTabContent">
      <div class="tab-pane fade mb-4 show active" id="bordered-pregunta" role="tabpanel" aria-labelledby="pregunta-tab">
        <div class="row">
            <div class="col-9">
                <h5 class="card-title">Listado de preguntas</h5>
            </div>
            <div class="col-3 mt-2 d-flex flex-row justify-content-end p-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ExtralargeModal">
                    <i class="bi bi-plus-lg"></i>Agregar pregunta
                </button>
            </div>
        </div>
        <app-datatable></app-datatable>
        <app-pregunta></app-pregunta>
      </div>
      <div class="tab-pane fade mb-4" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
        Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate nihil recusandae mollitia dolores. Ut laboriosam voluptatum dicta.
      </div>
      <div class="tab-pane fade mb-4" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
        Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.
      </div>
    </div><!-- End Bordered Tabs -->
</div>
