

<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-body ">
                <div class="form mt-3">
                    <div class="row">
                        <h1 class="card-title text-center titulo" id="title">Guardar Evaluación</h1>
                        <form [formGroup]="formEvaluacion" class="row g-3 ">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 mb-2">
                                        <label class="form-label">Título de la evaluacion</label>
                                        <input type="text"  class="form-control" id="nombre" placeholder="Ingresa el titulo de la evaluación" formControlName="nombre"  maxlength="100" required>
                                        <div class="alert alert-danger mt-2" [hidden]="nombre.valid || nombre.pristine">
                                            Debes ingresar un titulo
                                        </div>
                                    </div>
                                    <div class="col-md-8 mb-2">
                                        <label class="form-label">Descripción general</label>
                                        <input type="text"  id="descripcion" class="form-control" placeholder="Ingresa la descripción de la evaluación" formControlName="descripcion" required>
                                        <div class="alert alert-danger mt-2" [hidden]="descripcion.valid || descripcion.pristine">
                                            Debes seleccionar un descripción
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-2">
                                        <label class="form-label">Calificación mínima</label>
                                        <input type="number"  id="calificacionMinima" class="form-control" placeholder="Calificación mínima" formControlName="calificacionMinima" required>
                                        <div class="alert alert-danger mt-2" [hidden]="calificacionMinima.valid || calificacionMinima.pristine">
                                            Debes ingresar una calificación
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-2">
                                        <label class="form-label">Intentos</label>
                                        <select [(ngModel)]='ngSelect' class="form-select" id="intentos" formControlName="intentos" required>
                                            <option value="0" disabled selected>Selecciona</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                        <div class="alert alert-danger mt-2" [hidden]="intentos.valid || intentos.pristine">
                                            Debes seleccionar la cantidad de intentos
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer footer">
                                    <button type="button" class="btn btn-secondary cancelar" >
                                        Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-success" id="btnGuardar" (click)="guardarEvaluacion()" [disabled]="!formEvaluacion.valid">
                                        Guardar
                                    </button>
                                    <button type="submit" class="btn btn-success" id="btnActualizar" (click)="editar()" [disabled]="!formEvaluacion.valid">
                                        Actualizar
                                    </button>
                                </div>
                            </div>
                            <!-- <app-tabevaluaciones (eventoEnviarDataGrupo)="pasarDatosGrupo($event)" (eventoEnviarDataPregunta)="pasarDatosPregunta($event)"></app-tabevaluaciones> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

