<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" >
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-heading">Principal</li>
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-heading" >Administración</li>

          <li class="nav-item" *ngFor="let item of listaDetalle; let i = index; ">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#" *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 1 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 1) ">
            <i class="bi bi-people-fill"></i><span *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 1 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 1) ">Colaboradores</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 1 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 1) ">
                <li>
                    <a routerLink="/dashboard/list-collaborator">
                        <i class="bi bi-card-list"></i><span>Listado de colaboradores</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/list-colaboradores-deshabilitados">
                        <i class="bi bi-card-list"></i><span>Listado de colaboradores deshabilitados</span>
                    </a>
                </li>
            </ul>
        </li>

        
         <li class="nav-item" *ngFor="let item of listaDetalle; let i = index; ">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#" *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 2 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 2) ">
            <i class="bi bi-file-earmark-text-fill"></i><span *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 2 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 2) ">Documentación</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 2 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 2) ">
                <li>
                    <a routerLink="/dashboard/list-documentos">
                        <i class="bi bi-circle"></i><span>Listado de documentos</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/list-tipo-documentos">
                        <i class="bi bi-circle"></i><span>Listado de tipo documentos</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/list-permisos">
                        <i class="bi bi-circle"></i><span>Listado de permisos</span>
                    </a>
                </li>
            </ul>
        </li>

      

       <li class="nav-item" *ngFor="let item of listaDetalle; let i = index; ">
            <a class="nav-link collapsed" data-bs-target="#evaluaciones-nav" data-bs-toggle="collapse" href="#" *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 3 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 3) ">
              <i class="bi bi-layout-text-window-reverse"></i><span *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 3 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 3) ">Evaluaciones</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="evaluaciones-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 3 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 3) ">
                <li>
                    <a routerLink="/dashboard/list-evaluaciones">
                        <i class="bi bi-circle"></i><span>Listado de evaluaciones</span>
                    </a>
                </li>
            </ul>
        </li>

       <li class="nav-item" *ngFor="let item of listaDetalle; let i = index; ">
            <a class="nav-link collapsed" data-bs-target="#configuracion-nav" data-bs-toggle="collapse" href="#" *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 4 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 4) ">
              <i class="bi bi-gear"></i><span *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 4 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 4) ">Configuración</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="configuracion-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" *ngIf="listaDetalle[i].colaborador_id == id && listaDetalle[i].menu_id == 4 || (listaDetalle[i].cargo_id == permisos && listaDetalle[i].departamento_id== departamento_id && listaDetalle[i].menu_id == 4) ">
                <li>
                    <a routerLink="/dashboard/list-configuracion">
                        <i class="bi bi-circle"></i><span>Listado de configuraciones</span>
                    </a>
                </li>
            </ul>
        </li>


        

        <!-- <li class="nav-heading">Documentos</li>

        <li class="nav-item" >
            <a class="nav-link collapsed" data-bs-target="#politicas-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-folder-fill"></i><span>Políticas</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="politicas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li *ngFor="let item of listaDocumentos">
                <a type="button" *ngIf="item.tipoDocumento_id === 1 && item.colaborador_id == id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
                <a type="button" *ngIf="item.tipoDocumento_id === 1 &&  item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
              </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#reglamento-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-folder-fill"></i><span>Reglamento</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="reglamento-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li *ngFor="let item of listaDocumentos">
                <a type="button" *ngIf="item.tipoDocumento_id === 2 && item.colaborador_id == id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
                <a type="button" *ngIf="item.tipoDocumento_id === 2 && item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#manual-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-folder-fill"></i><span>Manual</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="manual-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li *ngFor="let item of listaDocumentos">
                <a type="button" *ngIf="item.tipoDocumento_id === 3 && item.colaborador_id == id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
                <a type="button" *ngIf="item.tipoDocumento_id === 3 && item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#instructivo-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-folder-fill"></i><span>Intructivo</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="instructivo-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li *ngFor="let item of listaDocumentos">
                <a type="button" *ngIf="item.tipoDocumento_id === 4 && item.colaborador_id == id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                  
                </a>
                <a type="button" *ngIf="item.tipoDocumento_id === 4 && item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#normativa-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-folder-fill"></i><span>Normativa</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="normativa-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li *ngFor="let item of listaDocumentos">
                <a type="button" *ngIf="item.tipoDocumento_id === 5 && item.colaborador_id == id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
                <a type="button" *ngIf="item.tipoDocumento_id === 5 && item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#estrategia-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-folder-fill"></i><span>Estratégia</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="estrategia-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li *ngFor="let item of listaDocumentos">
                <a type="button" *ngIf="item.tipoDocumento_id === 6 && item.colaborador_id == id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
                <a type="button" *ngIf="item.tipoDocumento_id === 6 && item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#estudio-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-folder-fill"></i><span>Estudio</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="estudio-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li *ngFor="let item of listaDocumentos">
                <a type="button" *ngIf="item.tipoDocumento_id === 7 && item.colaborador_id == id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
                <a type="button" *ngIf="item.tipoDocumento_id === 7 && item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0"  (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#ley-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-folder-fill"></i><span>Ley</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="ley-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li *ngFor="let item of listaDocumentos">
                <a type="button" *ngIf="item.tipoDocumento_id === 8 && item.colaborador_id == id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0" (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
                <a type="button" *ngIf="item.tipoDocumento_id === 8 && item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0" (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#boletin-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-folder-fill"></i><span>Boletín</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="boletin-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li *ngFor="let item of listaDocumentos">
                <a type="button" *ngIf="item.tipoDocumento_id === 9 && item.colaborador_id == id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0" (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
                <a type="button" *ngIf="item.tipoDocumento_id === 9 && item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0" (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#circulares-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-folder-fill"></i><span>Circulares</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="circulares-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li *ngFor="let item of listaDocumentos">
                <a type="button" *ngIf="item.tipoDocumento_id === 10 && item.colaborador_id == id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0" (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
                <a type="button" *ngIf="item.tipoDocumento_id === 10 && item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0" (click)="cargarPDF(item.nombreArchivo)">
                  <i class="bi bi-circle"></i><span>{{ item.nombreArchivo }}</span>
                </a>
              </li>
            </ul>
        </li> -->

        <!-- <li class="nav-heading">Evaluaciones</li> -->
    </ul>
</aside><!-- End Sidebar-->