<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" >
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-heading">Principal</li>
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/dashboard">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-heading" >Administración</li>

          <li class="nav-item" *ngFor="let item of listaDetalle; let i = index; ">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#" *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 1 ">
            <i class="bi bi-people-fill"></i><span *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 1 ">Colaboradores</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 1 ">
                <li>
                    <a routerLink="/dashboard/list-collaborator">
                        <i class="bi bi-card-list"></i><span>Listado de colaboradores</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/list-colaboradores-deshabilitados">
                        <i class="bi bi-card-list"></i><span>Listado de colaboradores deshabilitados</span>
                    </a>
                </li>
            </ul>
        </li>

        
         <li class="nav-item" *ngFor="let item of listaDetalle; let i = index; ">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#" *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 2">
            <i class="bi bi-file-earmark-text-fill"></i><span *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 2">Documentación</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 2">
                <li>
                    <a routerLink="/dashboard/list-documentos">
                        <i class="bi bi-circle"></i><span>Listado de documentos</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/list-tipo-documentos">
                        <i class="bi bi-circle"></i><span>Listado de tipo documentos</span>
                    </a>
                </li>
                <!-- <li>
                    <a routerLink="/dashboard/list-documentos-deshabilitados">
                        <i class="bi bi-circle"></i><span>Listado de documentos deshabilitados</span>
                    </a>
                </li> -->
            </ul>
        </li>

      

       <li class="nav-item" *ngFor="let item of listaDetalle; let i = index; ">
            <a class="nav-link collapsed" data-bs-target="#evaluaciones-nav" data-bs-toggle="collapse" href="#" *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 3 ">
              <i class="bi bi-layout-text-window-reverse"></i><span *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 3 ">Evaluaciones</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="evaluaciones-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 3 ">
                <!-- <li>
                    <a routerLink="/dashboard/list-grupos">
                        <i class="bi bi-circle"></i><span>Listado de grupos</span>
                    </a>
                </li> -->
                <li>
                    <a routerLink="/dashboard/list-evaluaciones">
                        <i class="bi bi-circle"></i><span>Listado de evaluaciones</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/evaluaciones-deshabilitadas">
                        <i class="bi bi-circle"></i><span>Listado de evaluaciones deshabilitadas</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/list-intentos">
                        <i class="bi bi-circle"></i><span>Listado de intentos de colaboradores</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/list-resultados-evaluacion">
                        <i class="bi bi-circle"></i><span>Resultados de evaluación</span>
                    </a>
                </li>
            </ul>
        </li>

       <!-- <li class="nav-item" *ngFor="let item of listaDetalle; let i = index; ">
            <a class="nav-link collapsed" data-bs-target="#configuracion-nav" data-bs-toggle="collapse" href="#" *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 4">
              <i class="bi bi-gear"></i><span *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 4">Configuración</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="configuracion-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 4">
                <li>
                    <a routerLink="/dashboard/list-configuracion">
                        <i class="bi bi-circle"></i><span>Listado de configuraciones</span>
                    </a>
                </li>
            </ul>
        </li> -->

        <li class="nav-heading" *ngIf="habilitarEvaluacion">Evaluaciones</li>

       <li class="nav-item" *ngIf="habilitarEvaluacion">
            <a class="nav-link collapsed" data-bs-target="#evaluacion-nav" data-bs-toggle="collapse" href="#" *ngIf="habilitarEvaluacion">
              <i class="bi bi-check2-square"></i><span *ngIf="habilitarEvaluacion">Evaluaciones a realizar</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>

            <ul id="evaluacion-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" *ngFor="let data of listadoEvaluaciones; let i = index; ">
                <li >
                    <a (click)="cargarQuiz(data)" *ngIf="data.colaborador_id == id && data.intentos > 0">
                        <i class="bi bi-circle"></i><span>{{ data.nombre }}</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- <li class="nav-item" >
          <a class="nav-link collapsed" routerLink="/dashboard/quiz" *ngIf="habilitarEvaluacion">
            <i class="bi bi-check2-square"></i><span>Evaluación</span>
          </a>
        </li> -->

    </ul>
</aside><!-- End Sidebar-->


<!-- <li class="nav-item" *ngFor="let item of listaDetalle; let i = index; ">
    <a class="nav-link collapsed" data-bs-target="#configuracion-nav" data-bs-toggle="collapse" href="#" *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 4">
      <i class="bi bi-gear"></i><span *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 4">Configuración</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="configuracion-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" *ngIf="(listaDetalle[i].colaborador_id == id && listaDetalle[i].cargo_id == permisos) && listaDetalle[i].menu_id == 4">
        <li>
            <a routerLink="/dashboard/list-configuracion">
                <i class="bi bi-circle"></i><span>Listado de configuraciones</span>
            </a>
        </li>
    </ul>
</li> -->