<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form mt-3">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title">Listado de configuraciones</h5>
                        </div>
                        <div class="col-3 mt-2 d-flex flex-row justify-content-end p-2">
                            <button type="button" class="btn btn-primary " routerLink="/dashboard/configuracion">
                                <i class="bi bi-plus-lg"></i>Agregar configuración
                            </button>
                        </div>
                    </div>
                    <app-dtconfiguracion></app-dtconfiguracion>
                </div>
            </div>
        </div>
    </div>
</div>