 th , td {
    text-align: center;
}

.table {
    font-size: 11px;
  }
  table th {
    text-align: center;
}
table tr th{
    background:#19948a;
    color:white;
    vertical-align:center;
}


.wrapper{
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  /*box-shadow: 7px 7px 12px rgba(0, 95, 85, 1);*/
}
.wrapper header{
  color: rgba(0, 95, 85, 1);
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.wrapper #formFile{
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed rgba(0, 95, 85, 1);
}

#formFile :where(i, p){
  color: rgba(0, 95, 85, 1);
}
#formFile i{
  font-size: 50px;
}

#formFile p {
  margin-top: 15px;
  font-size: 16px;
}

#formFile.dragover {
  border-style: solid;
  font-size: 2rem;
  color: #c8c9dd;
  font-weight: 600;
  background: rgba(0, 95, 85, 0.1);
}




.upload-container {
  position:relative
}
.upload-container input {
  border:1px solid #92b0b3;
  background:#f1f1f1;
  outline:2px dashed #92b0b3;
  outline-offset:-10px;
  padding:100px 0 100px 50px;
  text-align:center !important;
  width:500px
}
.upload-container input:hover {
  background:#ddd
}
.upload-container:before {
  position:absolute;
  bottom:50px;
  left:245px;
  content:" o arrastra el archivo";
  color:#3f8188;
  font-weight:900
}
.upload-btn {
  margin-left:300px;
  padding:7px 20px
}
