<div class="mx-auto loader" *ngIf="isLoading">
    <div class="orbe" style="--index: 0"></div>
    <div class="orbe" style="--index: 1"></div>
    <div class="orbe" style="--index: 2"></div>
    <div class="orbe" style="--index: 3"></div>
    <div class="orbe" style="--index: 4"></div>
</div>

<div class="container table-responsive ">
    <div class="d-flex justify-content-end mb-2">
        <button type="button" class="btn btn-primary ml-2 " id="archivo" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="cancelar()">
            <i class="fas fa-plus-plus"></i> Archivo
        </button>
    </div>
    <table [ngClass]="{'table-responsive': true}" *ngIf="!isLoading" datatable="datatable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered row-border hover" id="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Descripción</th>
                <th>Actualizado</th>
                <th>Disponible hasta</th>
                <th>¿Solo lectura?</th>
                <th>Disponible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaDocumentos; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.actualizado }}</td>
                <td>{{ item.fechaLimite | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ item.lectura == 0 ? 'Si' : 'No' }}</td>
                <td>{{ item.disponible == 0 ? 'Si' : 'No' }}</td>
               <td style="text-align: center;">
                    <!-- <a type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </a> -->
                    <a type="button" class="btn btn-outline-danger ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar" (click)="eliminar(item)">
                        <i class="bi bi-trash"></i>
                    </a>                   
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detalle del documento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formDocumento" id="form">
                <iframe src="" #myFrame style="width:100%; height:350px;" frameborder="0" id="filePDF"></iframe>

                <div class="mb-3">
                    <label for="pdf" class="form-label">Selecciona el archivo</label>
                    <input class="form-control" type="file" id="pdf" formControlName="pdf" (change)="changeArchivo($event)" required>
                    <div class="alert alert-danger mt-2" [hidden]="pdf.valid || pdf.pristine">
                        Debes seleccionar un archivo
                    </div>
                </div>
                <label for="descripcion" class="form-label">Descripción de archivo</label>
                <input class="form-control" type="text" id="descripcion" formControlName="descripcion" placeholder="Agregar una descripción" required>
                <div class="alert alert-danger mt-2" [hidden]="descripcion.valid || descripcion.pristine">
                Debes agregar una pequeña descripción
                </div>
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <label class="form-label mt-2">¿Solo lectura?</label>
                        <select [(ngModel)]='ngSelectL' class="form-select" id="lectura" formControlName="lectura" required>
                            <option value="0" selected>Si</option>
                            <option value="1">No</option>
                        </select>
                    </div>
                    <div class="alert alert-danger mt-2" [hidden]="lectura.valid || lectura.pristine">
                        Debes seleccionar una opción
                    </div>
                    <div class="col-md-4 mb-2">
                        <label class="form-label mt-2">¿Disponible?</label>
                        <select [(ngModel)]='ngSelectD' class="form-select" id="disponible" formControlName="disponible" required>
                            <option value="0" selected>Si</option>
                            <option value="1">No</option>
                        </select>
                    </div>
                    <div class="alert alert-danger mt-2" [hidden]="disponible.valid || disponible.pristine">
                        Debes seleccionar una opción
                    </div>
                    <div class="col-md-4 mb-2">
                        <label class="form-label mt-2" for="fecha">Fecha limite disponible </label>
                        <input type="datetime-local" class="form-control" id="fechaLimite" formControlName="fechaLimite">
                    </div>
                    <!-- <div class="alert alert-danger mt-2" [hidden]="fechaLimite.valid || fechaLimite.pristine">
                        Debes seleccionar una fecha
                    </div> -->
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary cancelar" data-bs-dismiss="modal" (click)="cancelar()">Cancelar</button>
            <button type="submit" id="btnAceptar" class="btn btn-success" data-bs-dismiss="modal" (click)="cargar()" [disabled]="!formDocumento.valid">Agregar</button>
        </div>
        </div>
    </div>
</div>