<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form mt-3">
                    <div class="row">
                        <div class="col-9 mx-auto d-flex justify-content-center">
                            <h5 class="card-title">Listado de colaboradores</h5>
                        </div>
                        <!-- <div class="col-3 mt-2 d-flex flex-row justify-content-end p-2">
                            <button type="button" class="btn btn-primary " routerLink="/dashboard/collaborator">
                                <i class="bi bi-plus-lg"></i>Agregar colaborador
                            </button>
                        </div> -->
                    </div>
                    <app-datatable></app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-collaborator></app-collaborator> -->

<!-- data-bs-toggle="modal" data-bs-target="#ExtralargeModal" -->

