<!-- <section class="section dashboard">
    <div class="row">
        
        
        <div class="col-lg-12">
            <div class="row">

                
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Sales <span>| Today</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                    <span class="text-success small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Revenue <span>| This Month</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>$3,264</h6>
                                    <span class="text-success small pt-1 fw-bold">8%</span> <span
                                        class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Customers <span>| This Year</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>1244</h6>
                                    <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">decrease</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <h3>Documentos disponibles</h3> -->

<div class="mx-auto loader" *ngIf="isLoading">
    <div class="orbe" style="--index: 0"></div>
    <div class="orbe" style="--index: 1"></div>
    <div class="orbe" style="--index: 2"></div>
    <div class="orbe" style="--index: 3"></div>
    <div class="orbe" style="--index: 4"></div>
</div>

<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            
            <div class="card" *ngFor="let tipo of listaTipoDocumentos; let i = index">
                <div class="filter " *ngIf="id_cargo == 1">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li><a class="dropdown-item" (click)="deshabilitar(tipo.id)">Deshabilitar</a></li>
                    </ul>
                </div>
                <div class="card-body" >
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item mx-5">
                        <h2 class="accordion-header" id="heading{{ tipo.tipo }}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#miElementoPersonalizado' + tipo.tipo" aria-expanded="true" [attr.aria-controls]="'miElementoPersonalizado' + tipo.tipo">
                              <h5>{{ tipo.tipo }}</h5>
                            </button>
                          </h2>
                        <div [id]="'miElementoPersonalizado' + tipo.tipo" class="accordion-collapse collapse show"  [attr.data-bs-parent]="'#miAcordeonPersonalizado'">
                        <div class="accordion-body ">
                            
                            <li *ngFor="let item of listaDocumentos">

                                <a type="button" *ngIf="item.tipoDocumento_id == tipo.id  && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0 && item.lectura == 0"  (click)="cargarPDF(item.nombreArchivo)">
                                    <div class="card cardStyle">
                                        <div class="card-body">
                                            <img  src="../../../assets/img/pdf.png" alt="" style="height: 100px; width: 100px;">
                                            <br>
                                            <span >{{ item.nombreArchivo }}</span>
                                        </div>
                                    </div>
                                </a>
                                <!-- <a type="button" *ngIf="item.tipoDocumento_id == tipo.id && item.departamento_id == departamento_id && (item.fechaLimite >= fecha || item.fechaLimite == null) && item.disponible == 0 && item.lectura == 0"  (click)="cargarPDF(item.nombreArchivo)">
                                    <div class="card">
                                        <div class="card-body">
                                            <img  src="../../../assets/img/pdf.png" alt="" style="height: 100px; width: 100px;">
                                            <br>
                                            <span >{{ item.nombreArchivo }}</span>
                                        </div>
                                    </div>
                                </a> -->
                            
                            </li>
                        </div>
                      </div>
                    </div>
                  </div>    
                </div>
            </div>

            

        </div>
    </div>
</section>
 